# KIT Lesson 7 - Lists (Challenge-focused Notebook)
In this lesson we covered lists and list methods. 
They are:


---




*   append()	Adds an element at the end of the list
*   clear()	Removes all the elements from the lis
*   copy()	Returns a copy of the list
*   count()	Returns the number of elements with the specified value
*   extend()	Add the elements of a list (or any iterable), to the end of the current list
*   index()	Returns the index of the first element with the specified value
*   insert()	Adds an element at the specified position
*   pop()	Removes the element at the specified position
*   remove()	Removes the item with the specified value
*   reverse()	Reverses the order of the list
*   sort()	Sorts the list


Note: Completion of the mini challenges will grant you 200 points for this notebook.

In [2]:
#Create a list with numbers: 750, 500, 679, 890 to represent Andre's balance for Jan-April.

Andre

[750, 500, 679, 890]

In [3]:
#Sort this list in numerical order - Notice that sort is an "inplace method". It alters the value of the variable "Andre" without you having to directly reassign it ur self. 
#Non inplace methods dont do this. So you would have to manually do Andre = Andre.sort() for non inplace methods.

print(Andre)

[500, 679, 750, 890]

In [4]:
#Reverse this list OR sort it in descending numerical order

Andre

[890, 750, 679, 500]

In [5]:
#Now andres bank data from May to December has become available.
#Due to bankruptcy from paying the school fee, the balance from may to december is: -1000,-2000,-1059,-1420,-456,-796,-5000,-10000
#Create a new list named Andre_balance_maytodec and set it to a new list with these values

Andre_balance_maytodec

[-1000, -2000, -1059, -1420, -456, -796, -5000, -10000]

In [6]:
#Add this list to the variable Andre

Andre

[890, 750, 679, 500, -1000, -2000, -1059, -1420, -456, -796, -5000, -10000]

In [7]:
#Sort this list in ascending numerical order

Andre

[-10000, -5000, -2000, -1420, -1059, -1000, -796, -456, 500, 679, 750, 890]

In [8]:
#Andre has been hacked and his data from december has disappeared! Change the list to reflect this.

Andre

[-10000, -5000, -2000, -1420, -1059, -1000, -796, -456, 500, 679, 750, 890]

In [9]:
#Andre has taken out a bank loan of 10000 and his new balance for december is 0. Add this value to the start of the list

Andre

[0, -10000, -5000, -2000, -1420, -1059, -1000, -796, -456, 500, 679, 750, 890]

In [10]:
#A new month called Tricember (13) has been added. Andre has a balance of 3.14 for this month. Add this value to the end of the list

Andre

[0,
 -10000,
 -5000,
 -2000,
 -1420,
 -1059,
 -1000,
 -796,
 -456,
 500,
 679,
 750,
 890,
 3.14]

In [11]:
#Print the index of the element for which andre's balance is -1420

4

# Challenge 1 [★] : Negative counter

To evaluate his financial crisis, Andre has decided to see how many months of the year he is bankrupt (0 or negative balance). Using your knowledge of for loops and if statements, calculate the amount of times in this year he is "bankrupt"

(Completion of this task alone will grant you 200 points)

9

# Challenge 2 [★★] : Linear Search
Code a for loop that will loop through all the elements of an unknown list and see if a certain element is in that list.


(Completion of this task alone will grant you 250 points)

In [13]:
#Create an example list (5 or more elements long) and loop through all elements of that list, seeing if a certain element is equal to the target element. print the index/position of the target element if it is found in the list
#Hint: use the len() function with range() https://www.w3schools.com/python/ref_func_len.asp
example_list = [1,3,4,5,6,7,8,9]
target = 5

Target found! Target is at index 3